:root {
  --purple-gradient: linear-gradient(102deg, rgba(73, 135, 255, 1) 0%, rgba(106, 10, 254, 1) 100%);
  --blue-gradient: linear-gradient(122deg, rgba(106, 10, 254, 1) 0%, rgba(73, 135, 255, 1) 100%);
  --green: #14C685;
  --purple: #8D65EF;
  --blue: #4987FF;
  --btn-icon-gray: #484C55;
  --font-gray: #1F2227;
  --html: #e34c26;
  --css: #264de4;
  --js: #f0db4f;
  --react: #61dafb;
  --bootstrap: #563d7c;
  --tailwind: #38b2ac;
  --framer: #e10098;
  --git: #f1502f;
  --express: #000000;
  --mongo: #4db33d;
  --mysql: #00758f;
  --socket: #010101;
  --node: #68A063;
  --blue-outline: #5D8BFF;
  --drop-shadow: #9EABB2;
  --border-decorations: #606A771F;
}

/*Manually adjusted colours | Would not work in :root */
.angular {
  color: #C3002F;
}

.java {
  color: #ED8B00;
}

.python {
  color: #3776AB;
}

.typeS {
  color: #007acc;
}

/* ******************************* */
.outfit-font {
  font-family: 'Outfit', sans-serif;
}

.font-gray {
  color: var(--font-gray);
}

.border {
  padding-left: 10px;
  padding-right: 10px;
}

.border-sm {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-bottom: 1px solid var(--drop-shadow);
  box-shadow: -1px 3px 5px -1px var(--drop-shadow);
  /* Bottom shadow */
}

.border-padding {
  padding-left: 20px;
  padding-right: 20px;
}

/* Navgigation Section Small Screens */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  padding-bottom: 20px;
}

#navbar-lg {
  display: none;
}

.angle-svg,
.angle-proj-svg,
.corner-proj-svg,
.title-svg {
  display: none;
}

.nav-menu-container {
  z-index: 50;
  background: white;
  color: black;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: absolute;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-sizing: border-box;

}

.nav-list-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding-top: 50%;
}

.nav-list-container {
  margin-left: auto;
  margin-right: auto;
}

.burger-font-size {
  display: flex;
  font-size: 30px;
  align-items: center;
  padding-bottom: 40px;
}

.ball-size {
  display: flex;
  align-items: flex-start;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.unstyled-btn {
  border: none;
  background: none;
}

.box-style {
  border-radius: 15.4px;
  width: 58px;
  height: 58px;
  border-width: 0;
}

.blue-bg {
  background: var(--blue-gradient);
  ;
}

.purple-bg {
  background: var(--purple-gradient);
}

.purple-bg:hover {
  background: var(--blue-gradient);
}

.green-bg {
  background: var(--green);
}

.green-btn:hover {
  background: #2ccc91;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
}

/* Home small Screen */

.home-title-container {
  display: flex;
  flex-direction: column;
}

.home-title {
  font-weight: 500;
  font-size: 35px;
  padding-top: 20px;
}

.home-subtitle {
  font-weight: 400;
  font-size: 40px;
  color: var(--green);
}

.img-lg-screen {
  display: none;
}

.round-btn {
  border-radius: 50%;
  border: none;
  height: 36px;
  width: 36px;
  color: var(--btn-icon-gray);
}

.round-btn:hover {
  background-color: #d8d8d8;
}

.round-btn a {
  color: var(--font-gray);
}

.large-btn {
  width: 170px;
  height: 57px;
  color: white;
  border-radius: 15px;
  border: none;
}

.home-img {
  border-radius: 20px;
  width: 90%;
  margin-top: 35px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

/* Skill Page Small Screen */

.skill-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.skill-btn {
  border-radius: 12px;
  border: none;
  color: var(--btn-icon-gray);
  font-size: 14px;
  font-weight: 500;
  width: 71px;
  height: 28px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.skill-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-title {
  font-size: 30px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-btn {
  font-size: 20px;
}

.btn-1 {
  margin-left: 40px;
}

.btn-2 {
  margin-left: 6px;
}

.skill-box span {
  margin-top: 5px;
  font-size: 10.9px;
  text-align: center;
}

.skill-icon {
  height: 75px;
  width: 75px;
  font-size: 38.76px;
}

/* Manually adjusted skill text color */
.skill-icon-text {
  color: black;
}

/* Individual colors for each skill icon */
.html5 svg {
  color: var(--html);
}

.css3 svg {
  color: var(--css);
}

.javascript svg {
  color: var(--js);
}

.react svg {
  color: var(--react);
}

.bootstrap svg {
  color: var(--bootstrap);
}

.tailwind svg {
  color: var(--tailwind);
}

.framer-motion svg {
  color: var(--framer);
}

.git svg {
  color: var(--git);
}

.express svg {
  color: var(--express);
}

.mongodb svg {
  color: var(--mongo);
}

.mysql svg {
  color: var(--mysql);
}

.socketio svg {
  color: var(--socket);
}

.node svg {
  color: var(--node);
}

/* Project Page Small Screen */

.project-button {
  border-color: var(--blue-outline);
  background: none;
  color: var(--font-gray);
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 12px 4px 12px;
}

.project-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-title {
  text-align: center;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-img-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 30vh;
}

.proj-img-motion {
  list-style: none;
}

.pagination-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proj-img {
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}


.proj-type-container {
  display: none;
}

.proj-img a:visited {
  text-decoration: none;
}

.project-pagination {
  height: 61px;
  width: 60px;
  background: #1D1D27;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination-btn {
  border: none;
  border-radius: 10px;
}

.project-contact-btn {
  border-radius: 18px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--green);
  background: none;
  padding: 18px 34px 18px 34px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.project-contact-btn:hover {
  background-color: var(--green);
  color: white;
}

/*About Page Small Screen */

.about-container {
  padding-bottom: 20px;
}

.about-title {
  font-size: 30px;
  color: var(--font-gray);
  font-weight: 600;
}

.about-title span {
  padding-right: 2px;
}

.about-subtitle {
  font-size: 20px;
  color: var(--green);
  font-weight: 600;
}

.about-subtitle span {
  padding-right: 8px;
}

.about-p {
  font-size: 16px;
  font-weight: 400;
}

.about-img {
  border-radius: 20px;
  width: 80%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about-img-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.about-img-container-lg {
  display: none;
}

.resume-btn {
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: var(--purple-gradient);
  height: 61px;
  width: 155px;
  margin-bottom: 40px;
}

.resume-btn a {
  text-decoration: none;
  color: white;
}

.resume-btn:hover {
  background: var(--blue-gradient);
}

/* Contact page Small Screen */

.location-btn {
  height: 43px;
  width: 43px;
  background: var(--purple-gradient);
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-icon-title {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
  width: 600px;
  height: 450px;
}

.frame-size {
  border: none;
  border-radius: 10px;
  height: 450px;
  margin-bottom: 50px;
}

.map-location-h1 {
  font-size: 18px;
  font-weight: 400;
}

.my-form {
  display: flex;
  flex-direction: column;
  border: none;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px -2px var(--drop-shadow);
}


.contact-h1 {
  color: var(--purple);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.contact-h2 {
  color: var(--font-gray);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.my-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-shape {
  border: 1px solid;
  border-color: #9EABB2;
  border-radius: 5px;
  height: 54px;
  width: 75%;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.input-msg {
  height: 131px;
  vertical-align: top;
  resize: none;
  padding-top: 15px;
}

.submit-btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  height: 52px;
  width: 75%;
  background: var(--purple-gradient);
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.submit-btn:hover {
  background: var(--blue-gradient);
}

/* Footer Page Small Screen  */
.footer-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.footer-header-container {
  text-align: center;
}

.footer-header {
  border: none;
  border-radius: 12px;
  color: var(--font-gray);
  padding: 4px 20px 4px 20px;
  font-size: 14px;
  font-weight: 500;
}

.footer-p {
  font-size: 17px;
  font-weight: 400;
  color: var(--font-gray);
  text-align: center;
}

.footer-p-2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-gray);
  text-align: center;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.footer-contact span {
  margin-left: 8px;
  margin-right: 8px;
}

.footer-btn-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.footer-btn {
  border: none;
  background: none;
  font-size: 24px;
  margin-left: 4px;
  margin-right: 4px;
  color: var(--font-gray);
}

.footer-btn a {
  color: var(--font-gray);
}


@media (min-width: 768px) {

  /* Navigation section Large Screens  */

  #navbar {
    display: none;
  }

  #navbar-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
  }

  #navbar-lg,
  .home-container,
  .skill-title-container,
  .skill-container,
  .project-container,
  .about-container,
  .contact-container,
  .footer-container {
    border: 1px solid var(--border-decorations);
    border-top: none;
    border-bottom: none;
    margin-left: 40px;
    margin-right: 40px;
  }

  /* SVG's all around the page  */
  .angle-svg,
  .angle-proj-svg,
  .corner-proj-svg,
  .title-svg {
    display: inline;
    z-index: 2;
  }

  .angle-svg {
    position: absolute;
    top: 85px;
    /* Adjust relative to the project section height if more info gets added*/
  }

  .angle-proj-svg {
    position: absolute;
    /* Set to the absolute position of the relative position of project container */
    margin-top: -15px;
    /* Adjust relative to the project section height if more info gets added */
  }

  .corner-proj-svg {
    position: absolute;
    /* Set to the absolute position of the relative position of project container */
    top: -1px;
  }

  .left-angle {
    left: 40px;
  }

  .right-angle {
    right: 40px;
  }

  .left-corner {
    left: -1px;
  }

  .right-corner {
    right: -1px;
  }

  .horiz-line {
    width: 100%;
    margin-top: 0;
    height: 1px;
    display: block;
    z-index: 1;
  }

  .nav-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .unstyled-btn:hover {
    background: var(--border-decorations);
    padding: 8px;
    border-radius: 10px;
  }

  .ball-size {
    height: 5px;
    width: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .box-style {
    width: 167px;
    height: 59px;
    color: white;
    padding: 18px 30px 18px 30px;
    font-size: 16px;
    font-weight: 500;
  }

  /* Home Page large Screens  */
  .home-border {
    background: linear-gradient(to bottom, white 85%, #F6F6FF 15%);
  }

  .home-container {
    display: flex;
    flex-direction: row;
  }

  .home-text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 40px;
    width: 40%;
  }

  .home-title {
    font-size: 42.35px;
  }

  /* Typing animation */
  .home-text-animation {
    white-space: nowrap;
    overflow: hidden;
    width: 21.5%;
    animation: 
      typing 1s,
      cursor .4s
  }

  /* Cursor blinking */
  @keyframes cursor {
    50% { border-color: transparent; }
    
  }

  /* Typing Effect  */
  @keyframes typing {
    from { width: 0}
    
  }
/* ******************** */

  .home-subtitle {
    font-size: 80.2px;
  }

  .home-p {
    font-size: 18px;
  }

  .img-sm-screen {
    display: none;
  }

  .img-lg-screen {
    display: flex;
    flex-grow: 1;
    margin-right: 40px;
    width: 40%;
  }

  .img-lg-size {
    height: 95%;
    width: 78%;
    margin: auto;
  }

  /* This accounts for all the svg titles  */
  .title-svg {
    position: absolute;
    margin-left: 40px;
  }

  /*****************************************/

  /* About Page Large Screens  */
  .about-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    position: relative;
    /*Setting this for the title svgs*/
  }

  .about-title-svg {
    position: absolute;
    padding-top: 0;
  }

  .about-title {
    font-size: 35px;
  }

  .about-p {
    font-size: 18px;
  }

  .about-subtitle {
    font-size: 25px;
  }

  .about-text-container {
    width: 50%;
    margin-left: 10%;
  }

  .about-img-container {
    display: none;
  }

  .about-img-container-lg {
    display: flex;
    width: 50%;
    margin-right: 10%;
  }

  .about-img {
    display: flex;
    width: 70%;
    height: 90%;
  }

  /* Skill Page Large Screens  */
  .skill-title {
    font-size: 65px;
    font-weight: 500;
  }

  .skill-container {
    padding: 20px 40px 20px 40px;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    /*Setting this for the title svgs*/
  }

  .skill-box {
    width: 132.17px;
    height: 132.17px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .skill-box span {
    font-size: 19.03px;
  }

  .skill-icon {
    font-size: 67.67px;
  }

  /* Project page Large Screen  */
  .project-container {
    display: flex;
    flex-direction: column;
    position: relative; /*Setting this for the right angle svgs & title svgs*/
  }
  

  .project-img-container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .project-button:hover {
    color: white;
    background: var(--blue-gradient);
  }

  .project-button:focus {
    color: white;
    background: var(--blue-gradient);
  }

  .project-title {
    font-size: 64px;
    font-weight: 600px;
  }

  .proj-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .proj-type-container {
    display: block;
    color: white;
    background: var(--blue-gradient);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  /* Contact Page Large Screen  */

  .contact-container {
    display: flex;
    flex-direction: row;
    padding: 35px;
    position: relative;
    /*Setting this for the right angle svgs*/
  }

  .contact-header {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-h2 {
    font-size: 16px;
  }

  .frame-size {
    border: none;
    border-radius: 10px;
    height: 450px;
    margin-bottom: 50px;
    width: 80%;
  }

  .my-form {
    flex-grow: 1;
    width: 50%;
    height: 70%;
    margin: auto;
  }
}